{% extends "base.html" %}
{% load static %}

{% block styles_css %}
    <link rel="stylesheet" type="text/css" href={% static "blog/css/index.css" %}>
{% endblock styles_css %}


{% block page_title %}
    My Blog
{% endblock page_title %}

{% block content %}
        <section id="welcome"> 
            <header class="header">
                <div class="header__box-text">
                    <h2>Matheus's Blog</h2>
                    <p>Blog destinado a postar sobre meus últimos aprendizados em programação. Artigos voltados a linguagens, frameworks e outras tecnologias.</p>
                </div>
                <div class="header__box-img">
                    <img class="header__box-img--Matheus" src="https://avatars.githubusercontent.com/u/101458586?s=400&u=b201ce7e6ac73485e05ba70b8d2d87b1f423abc3&v=4" alt="Criador do Blog"/>
                </div>
            </header>
        </section >

        <section id="latests-posts">
            <h2>Meus Aprendizados</h2>      
            <ul>
                {% for post in posts %}
                    {% include "blog/partials/post.html" %}
                {% endfor %}
            </ul>
        </section>


        <section id="about">
            <h2>Contatos</h2>
            <ul>
                <li>Email: edutheu@hotmail.com</li>
                <li>Github: MatheEduar</li>
                <li>Linkedin: <a href="linkedin.com/in/matheus-eduardo-249017315">Matheus Eduardo</a></li>
            </ul>
        </section>

{% endblock content %}