{% extends "base.html" %}
{% load static %}

{% block styles_css %}
    <link rel="stylesheet" type="text/css" href={% static "blog/css/index.css" %}>
{% endblock styles_css %}


{% block page_title %}
    My Blog
{% endblock page_title %}

{% block content %}
        <header class="header" id="main-navigation"> 
            <h1><a>M's</a></h1>
            <nav>
                <a href="{% url "posts" %}">All posts</a>
            </nav>
        </header>

        <section id="welcome"> 
            <header class="header">
                <div class="header__box-text">
                    <h2>Matheus's Blog</h2>
                    <p>Blog destinado a postar sobre meus últimos aprendizados em programação. Artigos voltados a linguagens, frameworks e outras tecnologias.</p>
                </div>
                <div class="header__box-img">
                    <img class="header__box-img--Matheus" src="https://avatars.githubusercontent.com/u/101458586?s=400&u=b201ce7e6ac73485e05ba70b8d2d87b1f423abc3&v=4" alt="Criador do Blog"/>
                </div>
            </header>
        </section >

        <section id="latests-posts">
            <h2>Meus Aprendizados</h2>      
            <ul>
                <li>
                    <article class="post">
                        <a href="" class="post-link">
                            <div class="post-link__img-box">
                                <img src={% static "blog/img/django.jpg" %} alt="Aprendendo Django" />
                            </div>
                            <div class="post__content">
                                <h3> Aprendendo Django </h3>
                                <p>
                                    Lorem ipsum dolor sit amet. Eum incidunt nisi quo alias corrupti At quaerat consequuntur aut natus consequatur et totam blanditiis quo corrupti laborum.
                                </p>
                            </div>
                        </a>

                    </article>
                </li>
                <li>
                    <article class="post">
                        <a href="" class="post-link">
                            <div class="post-link__img-box">
                                <img src={% static "blog/img/react-native.png" %} alt="Aprendendo Django" />
                            </div>
                            <div class="post__content">
                                <h3> Aprendendo React Native </h3>
                                <p>
                                    Lorem ipsum dolor sit amet. Eum incidunt nisi quo alias corrupti At quaerat consequuntur aut natus consequatur et totam blanditiis quo corrupti laborum.
                                </p>
                            </div>
                        </a>

                    </article>
                </li>
                <li>
                    <article class="post">
                        <a href="" class="post-link">
                            <div class="post-link__img-box">
                                <img src={% static "blog/img/sass.png" %} alt="Aprendendo Sass" />
                            </div>
                            <div class="post__content">
                                <h3> Aprendendo Sass </h3>
                                <p>
                                    Lorem ipsum dolor sit amet. Eum incidunt nisi quo alias corrupti At quaerat consequuntur aut natus consequatur et totam blanditiis quo corrupti laborum.
                                </p>
                            </div>
                        </a>

                    </article>
                </li>
            </ul>
        </section>


        <section id="about">
            <h2>Contatos</h2>
            <ul>
                <li>Email: edutheu@hotmail.com</li>
                <li>Github: MatheEduar</li>
                <li>Linkedin: <a href="linkedin.com/in/matheus-eduardo-249017315">Matheus Eduardo</a></li>
            </ul>
        </section>

{% endblock content %}