{% extends "base.html" %}
{% load static %}

{% block page_title %} Todos os posts {% endblock page_title %}

{% block styles_css %}
    <link rel="stylesheet" type="text/css" href={% static "blog/css/index.css" %}>
{% endblock styles_css %}

{% block content %}

    <ul>
        {% include "blog/partials/post.html" %}    
        {% include "blog/partials/post.html" %}    
        {% include "blog/partials/post.html" %}    
        {% include "blog/partials/post.html" %}    
    </ul>
{% endblock content %}