{% extends "base.html" %}
{% load static %}

{% block page_title %}
    {{ post.title }}
{% endblock page_title %}

{% block styles_css %}
    <link rel="stylesheet" href={% static 'blog/css/post-detail.css' %} />
{%endblock%}

{% block content %}
    <section id="summary"> 
        <div class="img-box">
            <img src="{% static 'blog/img/'|add:post.image %}" alt={{ post.title }}/>
        </div>
        <div class="text-box">
            <h2> {{ post.title }} </h2 >
            <address>{{ post.author }}</address>
            <div>
                Last time updated on <time> {{ post.date|date:"d M Y" }} </time>
            </div>
        </div>
    </section>

    <main id="main">
        {% lorem 9 p random %}
    </main>
    
{% endblock content %}